# Виртуальное окружение
venv/
env/

# Секреты и конфиги
.env

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.pid
*.seed

# Служебные файлы IDE
.idea/
.vscode/