{% extends "base.html" %}

{% load static %}

{% block title %}Главная - список задач{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
  <div class="homepage"> <!-- Основной контейнер страницы -->

    <!-- Верхняя панель -->
    <div class="top-bar">
      <div class="search-container"> <!-- Контейнер для поиска -->
        <input type="text" class="search-input" placeholder="Поиск задачи"> <!-- Поле ввода для поиска задач -->
      </div>
    </div>

    <!-- Список задач -->
    <div class="task-list">
      {% for task in tasks %}
        <a href="{% url 'homepage:task_detail' task.id %}" class="task-card"> <!-- Каждая карточка задачи -->
          <div class="task-title">{{ task.name }}</div> <!-- Название задачи -->
          <div class="task-progress">{{ task.percent }}</div> <!-- Прогресс задачи -->
          <div class="task-deadline">до {{ task.hard_deadline }}</div> <!-- Срок выполнения задачи -->
          <button class="complete-button">Завершить</button> <!-- Кнопка для завершения задачи -->
        </a>
      {% endfor %}
    </div>

    <!-- Нижние кнопки -->
    <div class="bottom-buttons">
      <button class="bottom-button">
        <img src="{% static 'img/svg/calendar_icon.svg' %}" alt="Календарь"> <!-- Иконка календаря -->
      </button>
      <button class="add-button">+</button> <!-- Кнопка добавления новой задачи -->
      <button class="bottom-button">
        <img src="{% static 'img/svg/document_icon.svg' %}" alt="Информация"> <!-- Иконка документа -->
      </button>
    </div>

  </div>
{% endblock %}
